@charset "utf-8";

/************* header *************/
h1 {
  font-size: 3.75rem;
  position: relative;
  text-transform: capitalize;
}

h5 {
  font-size: 1.875rem;
}
header .header {
  display: flex;
  position: fixed;
  top: 20px;
  border: 1px solid #ffffff;
  width: 90%;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 60px;
}

header a {
  display: flex;
  align-items: center;
}

header a svg {
  fill: white;
}

header .header h4 {
  font-size: 1.563rem;
  height: 100%;
  padding: 10px;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
header .header h4::after {
  content: "";
  height: 58px;
  width: 1px;
  background-color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

header .header menu {
  display: flex;
  display: none;
}

header .main-text {
  height: 100vh;
  background: url(./images/main.png) no-repeat 50% / cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: white;
}

header .main-text h1::after {
  content: "";
  height: 99px;
  width: 1px;
  background-color: white;
  position: absolute;
  bottom: -150px;
  left: 50%;
}

header .main-text h3 {
  font-size: 1.25rem;
  position: relative;
}

header .main-text h3::after {
  content: "";
  height: 99px;
  width: 1px;
  background-color: white;
  position: absolute;
  top: -150px;
  left: 50%;
}

/***************** /header ***************/

/***************** main introduce *****************/

main .introduce {
  height: 77.3462783171521vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

main .introduce img {
  width: 60%;
  position: absolute;
  right: 0;
  top: 10%;
  z-index: -9;
}
